.chapterBody{
	position: absolute;
	top:.25 in;
	width: 100%;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	padding: 0px 0px 0px 0px; 
}
.box{
	position: relative;
	width: 100%;
	margin: 0px;
	padding:10px;
}

/* SUB NAV*/
.subnav{
	position: fixed;
	top:1.5;
	left: 0in;
	width: 100%;
	height: .3in;
	background-color: rgba(240,240,240,.7);

	display: flex;
	display: -webkit-flex;

	list-style: none;
	align-self:center;
	margin: 0px;
	z-index: 2;
	font-family: 'Quicksand', sans-serif;
	color:black;
}
.subnav li{
	margin: 0px;
	list-style: none;
	padding:.1em;
	
	-webkit-flex-grow:1;
	-moz-box-flex: 1; 
	flex:1;

	text-align: center;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
}
.subnav asdf{
	align-self:center;
	font-size: 1.3em;
	height: .25in;
}
/* STATS */
.stats{
	background-image:url('http://nuamestsa.com/OurChapter/black_linen_v2.png');
	padding: .25in;
	color: white;
	font-family: 'Syncopate', sans-serif;
	width: calc(100% - .29in);
}
.box{
	width: 100%;
}
.stats table{
	width: 100%;
	text-align: center;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-collapse: separate;
	border-spacing: .5in;
}
.sideBorders{
	border-left-style: solid;
	border-right-style:solid;
	border-color: grey;
}
.screen{
	/* Height is controlled with jQuery*/
	height: auto;
	padding: 10px;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.fill{
	margin-right: auto;
	margin-left: auto;
	height: 100%;
}

.og-grid {
    list-style: none;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
 
.og-grid li {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
}