/*
  When changing the menu bar height remember to:
    -Change the offset for the autoscrolling on the Chapter Page.
    -Change the height of the .Screen.
    -Change the padding on the .nav li element so it fills the bar.
*/

.nav{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  display: -webkit-flex;
  background-color: #b80000;
  justify-content: center;
  -webkit-justify-content: center;
  margin: 0;
  width: 100%;
  z-index: 1001;
  height: .75in;
  font-family: 'Quicksand', sans-serif !important;
}

.nav li{
  position: relative;
  right: 45px;
  list-style: none;
  padding: 1.5em 1.3em 1.85em;
  color:black;
  text-decoration: none;
  align-self:center;
}

#logo{
  position: fixed;
  z-index: 2;
  top: -5px;
  left: 10px;
  padding-right:5px; 
  font-family: 'Quicksand', sans-serif !important;
}

#logo a{
  text-decoration: none;
  color: black !important;
  -webkit-transition: all .15s linear;
     -moz-transition: all .15s linear;
      -ms-transition: all .15s linear;
       -o-transition: all .15s linear;
          transition: all .15s linear;
}

#logo a:hover{
  color:#ffffff;
  text-decoration: none;
}

.container{
  width: 100%;
}

@media (orientation: portrait){
  .nav{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    display: -webkit-flex;
    background-color: rgb(240,240,240);

    flex-direction: column;
    /* background-image: url('/imgs/sos.png'); rember Citation*/
    justify-content:flex-end;
    -webkit-justify-content: flex-end;
    margin: 0;
    width: 100%;
    z-index: 5;
    height: .75in;
    font-family: 'Quicksand', sans-serif !important;
  }
  .a{
    color: #fcfcfc;
  }
  .a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(0,0,0,0.3);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
  }
  .a:hover::after,
  .a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  a{
    text-decoration: none !important;
  }
  .nav li{
    display:none;
    position: relative;
    right: 45px;
    top: .75in;
    padding: 10px;
    list-style: none;
    padding-right: 1.3em;
    padding-left: 1.3em;
    padding-top: 1.5em;
    padding-bottom: 1.85em;
    color:black;
    text-decoration: none;
    align-self:center;
    z-index:-1;
    width:100%;
    text-align:center;
    cursor: pointer;
  }
  #logo{
    z-index:10;
  }
}
