
.flexBox{
	display: flex;
	display: -webkit-flex;

	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;

	justify-content: space-around;
	-webkit-justify-content: space-around;
}
.schoolEvents{
	height: calc(100% - 2in);
	background-color: rgb(30,30,35);
}