.nav{
	position: fixed;
	top:0;
	left: 0;
	@include display-flex();
	background-color:$navBgColor ;
	/* background-image: url('/imgs/sos.png'); remember Citation*/
	@include flex-justify-content(flex-start);
	margin: 0;
	width: 100%;
	z-index: 1;
	height: .75in;
	font-family: $navFont;

	li{
		
		position: relative;
		right: 45px;
		padding: 10px;
		list-style: none;
		padding-right: 1.3em;
		padding-left: 1.3em;
		padding-top: 1.5em;
		padding-bottom: 1.85em;
		color:black;
		text-decoration: none;
		align-self:center;
	}
}
#logo{
	position: fixed;
	z-index: 2;
	top: -5px;
	left: 10px;
	padding-right:5px; 
	font-family: $navFont;

	a{

  		@include transition(all, .15s, linear);
		text-decoration: none;
  		color: black;
    	&:hover{
    		color:grey;
    	}
	}
}