$navBgColor: rgb(240,240,240);
$navFont: 'Quicksand', sans-serif;
$subNavBgColor: rgba(240,240,240,.7);



$statsBgImg: url('http://nuamestsa.com/OurChapter/black_linen_v2.png');
$statsFont:'Syncopate', sans-serif;
