<!DOCTYPE html>
<html ng-app="App">
	<head>
		<meta charset="utf-8">

		<!-- just for development -->
		<script type="text/javascript" src="http://www.livejs.com/live.js"></script>
        <!-- Socket IO -->
        <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
        <script src="Chat/chat.js"></script>
        <script>
            var socket = io();
        </script>
		<!-- lets fill the section up so we can impress the judges -->
        <!-- I have found it is easier to put all of the script/links at the very first -->

		<title>NUAMES TSA</title>
		
		<!-- When you create a JS file, append it here under the correct category-->

        <!-- JQuery -->
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script> <!-- MixItUp -->
        <!-- Bootstrap.js -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <!-- AngularJS -->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
		
		<!-- Toast Notifications- After jQuery -->
		<script type="text/javascript" src="3rdPartyJS/angularToast.js"></script> 

		<!-- Special Directives -->
		<script type="text/javascript" src="3rdPartyJS/specialDirectives.js"></script>

		<!-- VideoJS -->
		<script type="text/javascript" src="3rdPartyJS/video.js"></script>
		<!--<script src="http://vjs.zencdn.net/c/video.js"></script>-->

		<!-- Big Video -->
		<script type="text/javascript" src="3rdPartyJS/bigvideo.js"></script>

		<!-- Firebase -->
		<script src="https://cdn.firebase.com/js/client/2.1.0/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>
		
		<!-- Routers -->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
		
		<script type="text/javascript" src="OurChapter/modernizr.custom.js"></script>
		<script type="text/javascript" src="OurChapter/grid.js"></script>

		<!-- ANGULAR PARALAX-->
		<script src="http://durated.github.io/angular-scroll/0.5.1/angular-scroll.min.js"></script>
		<script src="http://durated.github.io/angular-parallax/angular-parallax.min.js"></script>

		<!-- App --> 
		<script type="text/javascript" src="App.js" ></script>
		<script type="text/javascript" src="OurSchool/schoolJS.js"></script>
		<script type="text/javascript" src="OurChapter/chapterJS.js"></script>
		<script type="text/javascript" src="DesignBrief/designBriefJS.js"></script>
		<script type="text/javascript" src="Sponsors/sponsorsJS.js"></script>
		<script type="text/javascript" src="Login/LoginJS.js"></script>
		<script type="text/javascript" src="Home/homeJS.js"></script>
        <!-- Node -->
        <script src="njs.js"></script>

			<!-- Manager --> 
			<!-- I have this in a separate section because its the largest -->
			<script type="text/javascript" src="Manager/managerJS.js"></script>
			<script type="text/javascript" src="Manager/Admin/adminJS.js"></script>
			<script type="text/javascript" src="Manager/Admin/eventsJS.js"></script>
			<script type="text/javascript" src="Manager/Profile/profileJS.js"></script>
			<script type="text/javascript" src="Manager/Event/eventJS.js"></script>
			<script type="text/javascript" src="Manager/Officer/attendanceJS.js"></script>
			<script type="text/javascript" src="Manager/Officer/newsFeedJS.js"></script>
			<script type="text/javascript" src="Manager/Officer/Budget/budgetJS.js"></script>
			<script type="text/javascript" src="Manager/Officer/Sponsors/sponsorsJS.js"></script>

		<!-- FONTS -->
			<link href='http://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="CSS/MainSCSS.css">
	</head>

	<body ng-controller="mainController" ng-cloak> <!-- I define an over all controller just incase i need it. It is helpful for debugging things -->
	<toaster-container toaster-options="{'time-out': 2000}"></toaster-container>
	<!--THere are two sections:
		1. Nav Bar : .nav
		2. Content View : .container 
	
    <script type="text/javascript">
        $(window).load(function(){
            $('#myModal').modal('show');
        });
    </script>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Tutorial</h4>
                </div>
                <div class="modal-body">
                    *Insert Tutorial Here*
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> -->
		<p id="logo"><a href="/">TSA</a></p> <!-- Nav Bar -->
				<ul class="nav">
					<li ng-show ="isLoggedIn" ng-click="gotoManager()" ng-click="rememberMe()" class="button">{{user.displayName}}</li> <!-- Only shows if someone is logged in -->
					<li ng-hide ="isLoggedIn" ng-click="gotoSignin()"  class="button">Sign In</li> <!-- Only shows if someone is not logged in. -->
                    <li ng-click="gotoChat()" class="button">Chat</li>
					<li ng-click="gotoSponsors()"  class="button">Sponsors</li>
					<li ng-click="gotoDesign()" class="button">Design Brief</li>
					<li ng-click="gotoChapter()" class="button">Our Chapter</li>
					<li style="margin-left: min(100px);" ng-click="gotoSchool()" class="button">Our School</li>
				</ul>
			 <!-- Content View-->
			<div class="body" ui-view></div>
	</body>
</html>