<!-- Create Post -->

	<!-- Google Drive URL - Select Image -->
	<!-- Posts Data -->

<!-- View/Edit posts -->

<h1>NEWS FEED</h1>
<input ng-model="schoolEvent.title" class="form-control">Title</input>
<input ng-model="schoolEvent.data" class="form-control">Data</input>
<input ng-model="schoolEvent.img" class="form-control">Image</input>

<button class="btn btn-success" ng-click="schoolPost()">Create Post</button>

<flip-circle ng-repeat="post in schoolEvents | reverse" title="{{post.title}}" paragraph="{{post.data}}" img="{{post.img}}"></flip-circle>