<!-- The main admin pannel where users are managed-->

<div class="requests"> <!-- This displays a list of users who are requesting access to the Manager. TODO: hide this section if nobody is requestin access -->
	<table>
		<tr><h2>Requests</h2></tr>
		<tr ng-repeat="user in members" ng-hide="user.member">
			<td>{{user.displayName}}</td>
			<td><button ng-click="verifyUser(user.$id)">ADD</button></td> <!-- $id is part of angularfire (firebase extenstion for angularJS)-->
			<td><button ng-click="deleteUser(user.$id)">Decline</button></td>
		</tr>
	</table>
</div>

<div class="memberTable">
	<table class="table">
		<tr>
			<td colspan="4"><h2>All Members</h2><td>
			<td colspan="4"><span class="glyphicon glyphicon-search"></span><input style="width:90%" ng-model="memberFilter"/><td> <!--Search Bar -->
			</tr>
		<tr ng-repeat="user in members | filter:{displayName:memberFilter}" ng-click="alert('click')" ng-class="{warning:user.admin}">
			<td><img ng-src="{{user.picture}}" class="img-circle"/></td>
			<td>{{user.displayName}}</td>
			<td>{{user.provider}}</td>
			<td>{{user.$id}}
			<td>
				<select ng-model="event" class="form-control">
					<option ng-repeat = "event in eventList" value="{{event}}">{{event}}</option>
				</select>
			</td>
			
			<!-- most of this is filler to help me test the back end -->
			<td><button class="btn btn-default" ng-click="deleteUser(user.$id)">Delete</button></td>
			<td ng-hide="user.admin"><button class="btn btn-default" ng-click="makeAdmin(user.$id)"> Admin</button></td>
			<td ng-show="user.admin"><button class="btn btn-default" ng-click="demoteAdmin(user.$id)">Demote</button></td>
			<td><button class="btn btn-default" ng-click="editUser(user.$id)"> Edit</button></td>
			<td><button class="btn btn-default" ng-click="$parent.addUserToEvent( user.$id, event)">Add To Event</button></td>
			<td><button class="btn btn-default" ng-click="$parent.removeUserFromEvent( user.$id, event)">Remove From Event</button></td>
		</tr>
	</table>

</div>