.body{
	height: calc(100% - 2in;)
}
#managerNav{
	position: fixed;
	top:1in;
	left: 0px;
	background-color: orange;
	width: 2in;
	height: calc(100% - 1in);
	padding: 0px;
}
#managerNav ul{
	text-decoration: none;
	display: inline;
	margin-top: 0px;
}
#managerNav ul li{
	font-size: 2em;
	-webkit-transition: all .15s linear;
	   -moz-transition: all .15s linear;
	    -ms-transition: all .15s linear;
	     -o-transition: all .15s linear;
	        transition: all .15s linear;
	margin-top: 0px;

}
#managerNav ul li ul li{
	font-style: .25em;
}
#managerNav ul li:hover{
	background-color: rgba(255,255,255,.5);
}
#managerBody{
	position: absolute;
	background-color: lightblue;
	width:calc(100% - 2in);
	left:2in;
	height: 100%;
	text-align: left;
}

#name{
	font-size: 3em;
}
#events{
	width: 40%;
}
#events table{
	vertical-align: left;
	height: auto;
	margin-left: 0px;
		border-spacing: 0px;
}
#events table thead{
	background-color: grey;

}
#events table tbody{
	vertical-align: top;
}
#events table tr{
	height: 1em;
}