<!--  This is our Manager page

This is the page that is going to set our website appart from every other entry in the competition. It needs to be BEAUTIFUL!!
It really only consists of a Side Nav and a Content View.

-->
<div ng-hide="UserManagment.currentuser.member"> <!-- This shows only if the user is not logged in or the user is not verrified by our chapter officers/Webmaster team -->
	<h2> You need to Register your account.</h2>
	<h3> Please contact our webmaster team or our officer team to register</h3>
</div>

<div ng-show="UserManagment.currentuser.member"> <!-- This shows other wise -->
	<!-- The Nav Bar-->
    <div id="wrapper" style="margin-top:.75in;">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav accordian" accordian>
                <li ng-show="UserManagment.currentuser.admin"> <!-- Only shows if the user is an admin -->
                    <h3 class="button" style="cursor: pointer">Admin</h3>
                    <ul>
                        <li class="button"><a ui-sref="manager.admin">Members</a></li>
                        <li class="button"><a ui-sref="manager.eventsManager">Events</a></li>
                    </ul>
			    </li>
                <li ng-show="UserManagment.currentuser.officer"> <!-- only shows if the user is an officer -->
                    <h3 class="button" style="cursor: pointer">Officer</h3>
                    <ul>
                        <li class="button">Minutes<span class="text-success">*Comming Soon</span></li> <!-- Most of these are fillers s-->
                        <li class="button"><a ui-sref="manager.attendance">Attendance <span class="text-success">*Comming Soon</span></a></li>
                        <li class="button"><a ui-sref="manager.budget">Budget<span class="text-success">*Comming Soon</span></a></li>
                        <li class="button">Parliamentary<span class="text-success">*Comming Soon</span></li>
                        <li class="button"><a ui-sref="manager.newsFeed">News Feed<span class="text-success">*Comming Soon</span></a></li>
                        <li class="button"><a ui-sref="manager.sponsors">Sponsors<span class="text-success">*Comming Soon</span></a></li>
                    </ul>
                </li>
                <li>
                    <h3 class="button" style="cursor: pointer">My Profile</h3>
                    <ul>
                        <li class="button"><a ui-sref="manager.register">Register<span class="text-success">*Comming Soon</span></a></li>
                        <li class="button"><a ui-sref="manager.contact">Contact<span class="text-success">*Comming Soon</span></a></li>
                        <li class="button"><a ui-sref="manager.messages">Messages<span class="text-success">*Comming Soon</span></a></li>
                        <li class="button"><a ui-sref="manager.documents">Documents<span class="text-success">*Comming Soon</span></a></li>
                    </ul>
                </li>
                <li>
                    <h3 class="button" style="cursor: pointer">Events</h3>
                    <ul>
                        <li style="margin-bottom:10px;"><a ui-sref="manager.allEvents">All Events</a></li>
                        <li style="margin-bottom:5px" ng-repeat="evnt in UserManagment.currentuser.events"><a class="evnt" ui-sref="manager.event({event: evnt})">{{evnt}}</a></li> <!-- A list of the users events they are registared for-->
                    </ul>
                </li>
                <li>
                    <h3 style="cursor: pointer" ng-click="signOut()">Sign Out </h3>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" class="container-fluid" style="background-color:white; padding:0 0 0 0;" ui-view>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</div>