<div class="row">
    <div class="jumbotron text-center">
        <h1>Online TSA Manager</h1>
        <div class="text-right"></div><h2>Learning to Live in a Technical World</h2>
    </div>
</div>
<div class="container-fluid"> <!-- Container -->
    <form ng-submit="Login()">
        <div class="col-md-offset-4 col-md-4">
            <div class="row"><input class="form-control" ng-model="login.email" placeholder="email" type="text"></div>
            <div class="row"><input class="form-control" ng-model="login.password" placeholder="password" type="password"></div>
            <div class="row">
                <button type="submit" class="btn btn-success">Login</button>
                <button class="btn btn-warning">Create an Account</button>
            </div>
        </div>
    </form>
</div>
