<!-- Sign In Page-->
<html ng-app = App>
    <table class="signin">
        <tbody>
        <tr>
            <td><h1>Sign In</h1></td>
        </tr>
        <nav class="cl-effect-20">
            <tr>
                <td style="cursor: pointer" id="fusername" class="facebook button" ng-click="loginWithFacebook()"><h3 data-hover="Facebook" id="facebook">Facebook</h3></td>
            </tr>
            <tr>
                <td style="cursor:pointer;" id="gusername" class="google button" ng-click="loginWithGoogle()"><h3 data-hover="Google" >Google</h3></td>
            </tr>
        </nav>
        </tbody>
    </table>
</html>