<h1>{{evnt}}</h1>
<table class="table">
	<tr ng-repeat="purchase in purchases" >
		<td>{{purchase.Name}}</td>
		<td>{{purchase.Description}}</td>
		<td>{{purchase.Ammount | currency}}</td>
	</tr>
</table>

<h1>Members</h1>
<ul>
    <li ng-repeat="member in UserManagment"></li>
</ul>

<div class="container-fluid"> <!-- Social Media Section -->
	<div class="row">
		<div class="col-md-11"><textarea ng-model="postData" class="form-control" style="width:100%"/></div>
		<div class="col-md-1"><button class="btn btn-info" ng-click="post(evnt)">Post</button></div>
	</div>
	<div class="row post" ng-repeat="post in posts | reverse">
        <h3>{{post.name}}</h3>
        <p>{{post.data}}</p>
	</div>
</div>