<!-- Event Page

TODO:
	1. Create purchases // this will not actually buy an item. It will send a notification to the treasurer for permission.
	2. Social Media style communictaion. // Real time
	3. Post files //We need to check with Zach about storing binders on his server. There may not be enough space.
-->
<script>
    $(document).ready(function(){
        $('tr').show('fast')
    })
</script>

<h1>{{evnt}}</h1>

<h2>Purchase</h2>
<form>
	Name:<input ng-model = "newPurchase.Name"/>
	Ammount:<input ng-model = "newPurchase.Ammount"/>
	Description:<input ng-model = "newPurchase.Description"/>
	<button ng-click="purchase()"/>
</form>

<h1>Members</h1>
<table class="table">
	<tbody>
		<tr ng-repeat="mem in eventMembers">
			<td>{{mem}}</td>
		</tr>
	</tbody>
</table>

<div class="container-fluid"> <!-- Social Media Section -->
	<div class="row">
		<div class="col-md-11"><input ng-model="postData" style="width:100%"/></div>
		<div class="col-md-1"><button ng-click="post(evnt)">Post</button></div>
	</div>
	<div class="row" ng-repeat="post in posts | reverse">
		<div class="col-md-1">{{post.name}}</div>
		<div class="col-md-10">{{post.data}}</div>
		<!-- Add Comment Feature. What do you want to be able to comment on? -Tobin -->
	</div>
</div>