<!-- Event Page

TODO:
	1. Create purchases // this will not actuall by an item. It will send a notification to the tresurer for permission.
	2. Social Media style communictaion. // Real time
	3. Post files //We need to check with Zach about storing binders on his server. There may not be enough space.
-->

<h1>{{evnt}}</h1>

<h2>Purchase</h2>
<form>
	Name:<input ng-model = "newPurchase.Name"/>
	Ammount:<input ng-model = "newPurchase.Ammount"/>
	Description:<input ng-model = "newPurchase.Description"/>
	<button ng-click="purchase()"/>
</form>

<h1>Members</h1>
<table class="table">
	<tbody>
		<tr ng-repeat="mem in eventMembers">
			<td>{{mem}}</td>
		</tr>
	</tbody>
</table>

