<div class="container">
    <div class="jumbotron">
        <h1>Contact Informaion</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <form class="form-horizontal">
                    <div class="form-group">
                        <input class="form-control" ng-model="$root.user.displayName"/>
                        <input class="form-control" ng-model="$root.user.email"/>
                        <input class="form-control" ng-model="$root.user.phone"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>